<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!-- 映射器 -->
    <mappers>
        <!-- 注册映射文件 -->
   <package name="cn.resturant.dao"/>

    </mappers>
</configuration>
