<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.resturant.dao.CommentsMapper" >
  <resultMap id="BaseResultMap" type="cn.resturant.entity.Comments" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="parentsid" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="comments" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="memo1" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="typeid" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="memo2" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="date" jdbcType="DATE" javaType="java.util.Date" />
      <arg column="memo3" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="memo4" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, parentsid, comments, memo1, typeid, memo2, date, memo3, memo4
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from comments
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from comments
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.resturant.entity.Comments" >
    insert into comments (id, parentsid, comments, 
      memo1, typeid, memo2, 
      date, memo3, memo4)
    values (#{id,jdbcType=INTEGER}, #{parentsid,jdbcType=INTEGER}, #{comments,jdbcType=VARCHAR}, 
      #{memo1,jdbcType=VARCHAR}, #{typeid,jdbcType=INTEGER}, #{memo2,jdbcType=VARCHAR}, 
      #{date,jdbcType=DATE}, #{memo3,jdbcType=VARCHAR}, #{memo4,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.resturant.entity.Comments" >
    insert into comments
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="parentsid != null" >
        parentsid,
      </if>
      <if test="comments != null" >
        comments,
      </if>
      <if test="memo1 != null" >
        memo1,
      </if>
      <if test="typeid != null" >
        typeid,
      </if>
      <if test="memo2 != null" >
        memo2,
      </if>
      <if test="date != null" >
        date,
      </if>
      <if test="memo3 != null" >
        memo3,
      </if>
      <if test="memo4 != null" >
        memo4,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="parentsid != null" >
        #{parentsid,jdbcType=INTEGER},
      </if>
      <if test="comments != null" >
        #{comments,jdbcType=VARCHAR},
      </if>
      <if test="memo1 != null" >
        #{memo1,jdbcType=VARCHAR},
      </if>
      <if test="typeid != null" >
        #{typeid,jdbcType=INTEGER},
      </if>
      <if test="memo2 != null" >
        #{memo2,jdbcType=VARCHAR},
      </if>
      <if test="date != null" >
        #{date,jdbcType=DATE},
      </if>
      <if test="memo3 != null" >
        #{memo3,jdbcType=VARCHAR},
      </if>
      <if test="memo4 != null" >
        #{memo4,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.resturant.entity.Comments" >
    update comments
    <set >
      <if test="parentsid != null" >
        parentsid = #{parentsid,jdbcType=INTEGER},
      </if>
      <if test="comments != null" >
        comments = #{comments,jdbcType=VARCHAR},
      </if>
      <if test="memo1 != null" >
        memo1 = #{memo1,jdbcType=VARCHAR},
      </if>
      <if test="typeid != null" >
        typeid = #{typeid,jdbcType=INTEGER},
      </if>
      <if test="memo2 != null" >
        memo2 = #{memo2,jdbcType=VARCHAR},
      </if>
      <if test="date != null" >
        date = #{date,jdbcType=DATE},
      </if>
      <if test="memo3 != null" >
        memo3 = #{memo3,jdbcType=VARCHAR},
      </if>
      <if test="memo4 != null" >
        memo4 = #{memo4,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.resturant.entity.Comments" >
    update comments
    set parentsid = #{parentsid,jdbcType=INTEGER},
      comments = #{comments,jdbcType=VARCHAR},
      memo1 = #{memo1,jdbcType=VARCHAR},
      typeid = #{typeid,jdbcType=INTEGER},
      memo2 = #{memo2,jdbcType=VARCHAR},
      date = #{date,jdbcType=DATE},
      memo3 = #{memo3,jdbcType=VARCHAR},
      memo4 = #{memo4,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectcombyfood" parameterType="string" resultType="cn.resturant.entity.Commentex">
     SELECT *,(memo1+memo2+memo3+memo4)/4 AS avgs
      FROM comments WHERE parentsid=#{id} AND typeid='1'

  </select>
</mapper>